<footer>
	<h3>we in social networks</h3>
	<a href="https://www.facebook.com"><div class="fb"></div></a>
	<a href="https://twitter.com"><div class="tw"></div></a>
	<img src="img/border.png" alt="">
</footer>