<div class="reg">
	<a href="/login">Log In </a>
	<a href="/signup"> Sign In</a>
</div>

<div class="wrap">
	<ul>
		<li class="product">
			<div>
				<a href="/product1"><img src="img/1.jpg" alt="">
				<h3>Christmas Elf</h3></a>
				<div class="comments">
					<div class="rating">
						<div style="width:80%"></div>
					</div>
					<div class="rating_votes"><span>2</span> vote(s)</div>
				</div>
			</div>
		</li>
		<li class="product">
			<div>
				<a href="/product2"><img src="img/2.jpg" alt="">
				<h3>Christmas Elf</h3></a>
				<div class="comments">
					<div class="rating">
						<div style="width:100%"></div>
					</div>
					<div class="rating_votes"><span>4</span> vote(s)</div>
				</div>
			</div>
		</li>
		<li class="product">
			<div>
				<a href="/product3"><img src="img/3.jpg" alt="">
				<h3>Christmas Elf</h3></a>
				<div class="comments">
					<div class="rating">
						<div style="width:90%"></div>
					</div>
					<div class="rating_votes"><span>2</span> vote(s)</div>
				</div>
			</div>
		</li>
		<li class="product">
			<div>
				<a href="/product4"><img src="img/4.jpg" alt="">
				<h3>Christmas Elf</h3></a>
				<div class="comments">
					<div class="rating">
						<div style="width:70%"></div>
					</div>
					<div class="rating_votes"><span>1</span> vote(s)</div>
				</div>
			</div>
		</li>
		<li class="product">
			<div>
				<a href="/product5"><img src="img/5.jpg" alt="">
				<h3>Christmas Elf</h3></a>
				<div class="comments">
					<div class="rating">
						<div style="width:90%"></div>
					</div>
					<div class="rating_votes"><span>3</span> vote(s)</div>
				</div>
			</div>
		</li>
		<li class="product">
			<div>
				<a href="/product6"><img src="img/6.jpg" alt="">
				<h3>Christmas Elf</h3></a>
				<div class="comments">
					<div class="rating">
						<div style="width:80%"></div>
					</div>
					<div class="rating_votes"><span>2</span> vote(s)</div>
				</div>
			</div>
		</li>

	</ul>

</div>